<div class="container justify-content-center">
  <%= link_to "Back to index", vaccines_path %>
  <br>
  <h1><%= @vaccine.name %></h1>

  <div class="container border-top">
    <h3>Description</h3>
    <p class="colorwhite"><%= @vaccine.description %></p>
  </div>
  <div class="vaccine-image">
    <%= cl_image_tag @vaccine.photo.key, height: 300, width: 400, crop: :fill %>
  </div>

  <%= link_to 'Reserve this vaccine', new_vaccine_reservation_path(@vaccine), class: 'btn btn-primary' %>

  <!-- Will add addtional logics later -->
  <% @vaccine.reservations.each do |reservation| %>
    <% if reservation.status == 'Pending' %>
      <p>You have successfully reserved this vaccine at this date: <%= reservation.date %></p>
    <% end %>
  <% end %>
</div>
