<div class="container justify-content-center">
  <%= link_to "Back to index", vaccines_path %>
  <br>
  <h1><%= @vaccine.name %></h1>

  <div class="container border-top">
    <h3>Description</h3>
    <p class="colorwhite"><%= @vaccine.description %></p>
  </div>
  <% if @vaccine.photo.attached? %>
    <%= cl_image_tag @vaccine.photo.key, height: 300, width: 400, crop: :fill %>
  <% else %>
    <img src="https://source.unsplash.com/CMLL0UD6AEE/300x400">
  <% end %>

  <div class="container">
    <%= link_to 'Reserve this vaccine', new_vaccine_reservation_path(@vaccine), class: 'btn btn-primary' %>
  </div>

  <br>

  <div class="container border-top">
    <!-- Will add addtional logics later -->
    <!-- TO ADD => only the current_user can see their reservations. Other users reservation should not be shown  -->
    <!-- TO ADD => Owner of this vaccine listing can see all reservations -->

    <!-- Currently anyone can see the reservations -->
<!--     <% @vaccine.reservations.each do |reservation| %>
      <% if reservation.status == 'Pending' %>
        <p> <%= reservation.user.email %> has a reservation for this vaccine at this date: <%= reservation.date %>.</p>
      <% end %>
    <% end %> -->
    <% if @vaccine.user == current_user %>
      <% current_user.reservations.each do |reservation| %>
        <% if reservation.status == 'Pending' %>
          <p> <%= reservation.user.email %> has a reservation for this vaccine at this date: <%= reservation.date %>.</p>
        <% end %>
      <% end %>
    <% end %>
  </div>

</div>
