<div class="container justify-content-center">
  <%= link_to "Back to index", vaccines_path %>
  <br>
  <h1><%= @vaccine.name %></h1>

  <div class="container border-top">
    <h3>Description</h3>
    <p class="colorwhite"><%= @vaccine.description %></p>
  </div>
  <% if @vaccine.photo.attached? %>
    <%= cl_image_tag @vaccine.photo.key, height: 300, width: 400, crop: :fill %>
  <% else %>
    <img src="https://source.unsplash.com/CMLL0UD6AEE/300x400">
  <% end %>

  <div class="container">
    <%= link_to 'Reserve this vaccine', new_vaccine_reservation_path(@vaccine), class: 'btn btn-primary' %>
  </div>

</div>
